* {
	box-sizing: border-box;
}

body {
	height: 89.7vh;
	background: linear-gradient(45deg, rgb(64, 217, 183) 17%, rgb(26, 75, 193));
	background: -webkit-linear-gradient(45deg, rgb(64, 217, 183) 17%, rgb(26, 75, 193));
	background: -moz-linear-gradient(45deg, rgb(64, 217, 183) 17%, rgb(26, 75, 193));
}

input {
	border: none;
}

button {
	padding: 20px 17px 20px 17px;
	border: none;
}

.wrapper {
	max-width: 370px;
	margin: 0 auto;
}
.calculator {
	padding: 15px 10px 65px 10px;
	background-color: rgba(0, 255, 255, 0.308);
	margin-top: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-gap: 10px;
}
.input {
	display: flex;
	align-items: end;
	grid-column: 1 / -1;
	justify-content: flex-end;
	font-size: 34px;
}
.input2 {
	display: flex;
	align-items: end;
	grid-column: 1 / -1;
	justify-content: flex-end;
	font-size: 20px;
}
.nemul {
	grid-column: 4 / 5;
}
.zero {
	grid-column: 2 / 3;
}
.equal {
	color: #fff;
	background-color: rgb(39, 0, 211);
	grid-column: 3 / 5;
}
.oper {
	color: rgb(39, 0, 211);
}
.num {
	font-weight: 400;
	font-size: 26px;
}
.ac {
	grid-column: 1 / 2;
}
p {
	grid-column: 3 / 5;
	font-size: 20px;
	color: #fff;
	font-weight: 400;
}
